<!DOCTYPE html>
<html lang="en">
<head>
  <title>SAFIA-STORE</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default rounded borders and increase the bottom margin */ 
    .navbar {
      margin-bottom: 50px;
      border-radius: 0;
    }
    
    /* Remove the jumbotron's default bottom margin */ 
     .jumbotron {
      margin-bottom: 0;
    }
   
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
    
    ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  }
  li {
  padding: 8px;
  margin-bottom: 2px;
  cursor: pointer;
}

li:hover {
  background-color: rgb(0, 0, 255);
}

.responsive {
    width: 300px; 
    height: 200px; 
}

.logo2 {

    width: 300px; /* Ancho deseado */
    height: 300px; /* Altura deseada */
    border-radius: 50%; /* Hace que los bordes de la imagen sean circulares */
    overflow: hidden; /* Oculta cualquier parte de la imagen que se salga del contenedor */

   
}

.jumbotron{
    background: url(../img/logo.jpg) no-repeat center center fixed;
    background-size: cover;
   
 
}

   
 .encabezado{
    
 
    color: violet; /* Cambia el color del texto a violeta */
    
    font-size: 30px; /* Aumenta el tamaño de letra a 48 pixels */
    text-align: center; /* Centra el texto */
 }  
 h1 {
            font-size: 50px; /* Tamaño de letra grande */
     }
    
  </style>
</head>
<body>
 <div class="encabezado">
    <h1>Safia Store</h1>      
    <p>Mision, Vision & Valores</p>
  </div>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" img src="static/img/logo.jpg" th:href="@{/img/logo.jpg}" >Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li onclick="cambiarLi(1)"><a href="#">Home</a></li>
        <li onclick="cambiarLi(2)"><a href="#">Productos</a></li>
        <li onclick="cambiarLi(3)"><a href="#">Detalles</a></li>
        <li onclick="cambiarLi(4)"><a href="#">Stores</a></li>
        <li onclick="cambiarLi(5)"><a href="#">Contactos</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span th:text="${usuario.user}" class="glyphicon glyphicon-user"></span> </a></li>
        <li><a href="#"><span  class="glyphicon glyphicon-shopping-cart"></span>Mi Carrito</a></li>
      </ul>
    </div>
  </div>
  
  <div  class="jumbotron">
 <img src="static/img/logo.jpg" class="logo2" th:src="@{/img/logo.jpg}"/>
 
  <!--Este es el elemento div para el contenido de home-->
  <div id="contenido">
  <div id="contenido1" style="display:none">
    
    
    <header>
        <h1>Bienvenido a Safia Store</h1>
        <p>Descubre una experiencia de compra única en Safia Store. Desde productos de alta calidad hasta un servicio al cliente excepcional, estamos aquí para satisfacer todas tus necesidades de compras en línea. Explora nuestra amplia selección de productos y encuentra justo lo que estás buscando. ¡Bienvenido a tu nueva tienda favorita en línea!</p>
    </header>
    <section>
        <h2>Descubre el Mejor Estilo en Safia Store</h2>
        <p>En Safia Store estamos dedicados a ofrecerte lo último en moda y estilo. Desde prendas de vestir hasta accesorios, cada artículo está cuidadosamente seleccionado para ofrecerte calidad y estilo incomparables. Sumérgete en nuestro mundo de tendencias y encuentra la inspiración para crear tu propio estilo único.</p>
    </section>
    <section>
        <h2>Haz que cada Momento Cuente con Safia Store</h2>
        <p>En Safia Store, creemos en la importancia de cada momento en la vida. Ya sea que estés celebrando un hito importante o simplemente disfrutando de la vida cotidiana, estamos aquí para acompañarte con productos que hacen que cada momento cuente. Explora nuestra colección y encuentra ese artículo especial que complementará tu estilo de vida.</p>
    </section>
    <section>
        <h2>Calidad y Confiabilidad en Safia Store</h2>
        <p>En Safia Store, nuestra misión es simple: ofrecerte productos de calidad que puedas confiar. Nos esforzamos por superar tus expectativas en cada compra, desde la selección de productos hasta la entrega en tu puerta. Con nosotros, puedes estar seguro de que estás obteniendo lo mejor en calidad y servicio. ¡Únete a nuestra comunidad de clientes satisfechos hoy mismo!</p>
    </section>
    <section>
        <h2>Tu Destino para la Tecnología del Futuro en Safia Store</h2>
        <p>En Safia Store, estamos emocionados de ofrecerte lo último en tecnología y gadgets innovadores. Desde dispositivos inteligentes hasta accesorios de última generación, nuestra tienda es tu destino para descubrir la tecnología del futuro. Explora nuestra colección y déjate sorprender por las infinitas posibilidades que la tecnología tiene para ofrecer.</p>
    </section>
    
  </div>
  
  
  <!--Este es el elemento div para el contenido de los productos-->
  <div id="contenido2" style="display:none">
    
    
    <div class="container">    
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">CARTIER</div>
        <div class="panel-body"><img src="static/img/cartier2.jpg" th:src="@{/img/cartier2.jpg}" class="responsive"   alt="Image" ></div>
       <div class="panel-footer" > € 28.400 </div>
      
      </div>
  <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
  <input type="hidden" name="cmd" value="_s-xclick" />
  <input type="hidden" name="hosted_button_id" value="7R383UG79GYL6" />
  <input type="hidden" name="currency_code" value="EUR" />
  <input type="image" src="https://www.paypalobjects.com/es_ES/ES/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" title="PayPal, la forma rápida y segura de pagar en Internet." alt="Comprar ahora" />
</form>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-danger">
        <div class="panel-heading">ROLEX</div>
        <div class="panel-body"><img src="static/img/rolex1.jpg" th:src="@{/img/rolex1.jpg}" class="responsive"  alt="Image"></div>
        <div class="panel-footer">€ 10.665,38</div>
      </div>
      <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
  <input type="hidden" name="cmd" value="_s-xclick" />
  <input type="hidden" name="hosted_button_id" value="7R383UG79GYL6" />
  <input type="hidden" name="currency_code" value="EUR" />
  <input type="image" src="https://www.paypalobjects.com/es_ES/ES/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" title="PayPal, la forma rápida y segura de pagar en Internet." alt="Comprar ahora" />
</form>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-success">
        <div class="panel-heading">CARTIER</div>
        <div class="panel-body"><img src="static/img/cartier1.jpg" th:src="@{/img/cartier1.jpg}" class="responsive"  alt="Image"></div>
        <div class="panel-footer">€ 30.700</div>
      </div>
    </div>
    <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
  <input type="hidden" name="cmd" value="_s-xclick" />
  <input type="hidden" name="hosted_button_id" value="7R383UG79GYL6" />
  <input type="hidden" name="currency_code" value="EUR" />
  <input type="image" src="https://www.paypalobjects.com/es_ES/ES/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" title="PayPal, la forma rápida y segura de pagar en Internet." alt="Comprar ahora" />
</form>
  </div>
</div><br>

<div class="container">    
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">AUDEMARS PIGUET</div>
        <div class="panel-body"><img src="static/img/AUDEMARS PIGUET.jpg" th:src="@{/img/AUDEMARS PIGUET.jpg}" class="responsive"   alt="Image" ></div>
        <div class="panel-footer">€ 19.000</div>
      </div>
       <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
  <input type="hidden" name="cmd" value="_s-xclick" />
  <input type="hidden" name="hosted_button_id" value="7R383UG79GYL6" />
  <input type="hidden" name="currency_code" value="EUR" />
  <input type="image" src="https://www.paypalobjects.com/es_ES/ES/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" title="PayPal, la forma rápida y segura de pagar en Internet." alt="Comprar ahora" />
</form>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-danger">
        <div class="panel-heading">LANGE Y SOHNE</div>
        <div class="panel-body"><img src="static/img/LANGE Y SOHNE2.jpg" th:src="@{/img/LANGE Y SOHNE2.jpg}" class="responsive"  alt="Image"></div>
        <div class="panel-footer">€ 21.978</div>
      </div>
       <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
  <input type="hidden" name="cmd" value="_s-xclick" />
  <input type="hidden" name="hosted_button_id" value="7R383UG79GYL6" />
  <input type="hidden" name="currency_code" value="EUR" />
  <input type="image" src="https://www.paypalobjects.com/es_ES/ES/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" title="PayPal, la forma rápida y segura de pagar en Internet." alt="Comprar ahora" />
</form>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-success">
        <div class="panel-heading">PIAGET</div>
        <div class="panel-body"><img src="static/img/PIAGET1.jpg" th:src="@{/img/PIAGET1.jpg}" class="responsive"  alt="Image"></div>
        <div class="panel-footer">€ 25.902</div>
      </div>
    </div>
     <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
  <input type="hidden" name="cmd" value="_s-xclick" />
  <input type="hidden" name="hosted_button_id" value="7R383UG79GYL6" />
  <input type="hidden" name="currency_code" value="EUR" />
  <input type="image" src="https://www.paypalobjects.com/es_ES/ES/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" title="PayPal, la forma rápida y segura de pagar en Internet." alt="Comprar ahora" />
</form>
  </div>
</div><br>

<div class="container">    
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">HUBLOT</div>
        <div class="panel-body"><img src="static/img/HUBLOT2.jpg" th:src="@{/img/HUBLOT2.jpg}" class="responsive"  alt="Image" ></div>
        <div class="panel-footer">€ 42.000</div>
      </div>
       <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
  <input type="hidden" name="cmd" value="_s-xclick" />
  <input type="hidden" name="hosted_button_id" value="7R383UG79GYL6" />
  <input type="hidden" name="currency_code" value="EUR" />
  <input type="image" src="https://www.paypalobjects.com/es_ES/ES/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" title="PayPal, la forma rápida y segura de pagar en Internet." alt="Comprar ahora" />
</form>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-danger">
        <div class="panel-heading">LOUIS VUITTON</div>
        <div class="panel-body"><img src="static/img/LOUIS VUITTON.jpg" th:src="@{/img/LOUIS VUITTON.jpg}" class="responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">€ 25.000</div>
      </div>
       <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
  <input type="hidden" name="cmd" value="_s-xclick" />
  <input type="hidden" name="hosted_button_id" value="7R383UG79GYL6" />
  <input type="hidden" name="currency_code" value="EUR" />
  <input type="image" src="https://www.paypalobjects.com/es_ES/ES/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" title="PayPal, la forma rápida y segura de pagar en Internet." alt="Comprar ahora" />
</form>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-success">
        <div class="panel-heading">LOUIS VUITTON</div>
        <div class="panel-body"><img src="static/img/LOUIS VUITTON2.jpg" th:src="@{/img/LOUIS VUITTON2.jpg}" class="responsive"  alt="Image"></div>
        <div class="panel-footer">€ 25.000</div>
      </div>
    </div>
     <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
  <input type="hidden" name="cmd" value="_s-xclick" />
  <input type="hidden" name="hosted_button_id" value="7R383UG79GYL6" />
  <input type="hidden" name="currency_code" value="EUR" />
  <input type="image" src="https://www.paypalobjects.com/es_ES/ES/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" title="PayPal, la forma rápida y segura de pagar en Internet." alt="Comprar ahora" />
</form>
  </div>
</div><br>

<div class="container">    
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">HUBLOT</div>
        <div class="panel-body"><img src="static/img/HUBLOT1.jpg" th:src="@{/img/HUBLOT1.jpg}" class="responsive"  alt="Image"></div>
        <div class="panel-footer">€ 42.000</div>
      </div>
       <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
  <input type="hidden" name="cmd" value="_s-xclick" />
  <input type="hidden" name="hosted_button_id" value="7R383UG79GYL6" />
  <input type="hidden" name="currency_code" value="EUR" />
  <input type="image" src="https://www.paypalobjects.com/es_ES/ES/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" title="PayPal, la forma rápida y segura de pagar en Internet." alt="Comprar ahora" />
</form>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-primary">
        <div class="panel-heading">PANERAI</div>
        <div class="panel-body"><img src="static/img/PANERAI2.jpg" th:src="@{/img/PANERAI2.jpg}" class="responsive"  alt="Image"></div>
        <div class="panel-footer">€ 63.000</div>
      </div>
       <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
  <input type="hidden" name="cmd" value="_s-xclick" />
  <input type="hidden" name="hosted_button_id" value="7R383UG79GYL6" />
  <input type="hidden" name="currency_code" value="EUR" />
  <input type="image" src="https://www.paypalobjects.com/es_ES/ES/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" title="PayPal, la forma rápida y segura de pagar en Internet." alt="Comprar ahora" />
</form>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-primary">
        <div class="panel-heading">ROLEX</div>
        <div class="panel-body"><img src="static/img/rolex2.jpg" th:src="@{/img/rolex2.jpg}" class="responsive"  alt="Image"></div>
        <div class="panel-footer">€ 43.000</div>
      </div>
    </div>
    
     <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
  <input type="hidden" name="cmd" value="_s-xclick" />
  <input type="hidden" name="hosted_button_id" value="7R383UG79GYL6" />
  <input type="hidden" name="currency_code" value="EUR" />
  <input type="image" src="https://www.paypalobjects.com/es_ES/ES/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" title="PayPal, la forma rápida y segura de pagar en Internet." alt="Comprar ahora" />
</form>
    
  </div>
</div><br><br>
    
  </div>
  <!--Aqui termina la seccion de productos-->
  
  
  <!--Este es el elemento div para el contenido de detalles-->
  <div id="contenido3" style="display:none">
    
    
    <header>
        <h1>Detalles Safia Store</h1>
    </header>
    <section>
        <h2>Política de Devolución</h2>
        <p>En Safia Store, tu satisfacción es nuestra prioridad. Si por alguna razón no estás completamente satisfecho con tu compra, aceptamos devoluciones dentro de los 30 días posteriores a la recepción del artículo. Consulta nuestra política de devolución para obtener más detalles y cómo iniciar el proceso de devolución.</p>
    </section>
    <section>
        <h2>Envío Gratuito</h2>
        <p>¡Aprovecha nuestro envío gratuito en todos los pedidos! En Safia Store, queremos hacer que tu experiencia de compra sea lo más conveniente posible. Disfruta de la comodidad de recibir tus productos directamente en tu puerta sin costo adicional. ¡Haz tu pedido hoy mismo y aprovecha esta oferta especial!</p>
    </section>
    <section>
        <h2>Servicio al Cliente</h2>
        <p>En Safia Store, nuestro equipo de servicio al cliente está aquí para ayudarte en cada paso del camino. Ya sea que necesites ayuda para encontrar el producto perfecto o tengas preguntas sobre tu pedido, estamos disponibles para brindarte asistencia personalizada. Contáctanos en cualquier momento y estaremos encantados de ayudarte.</p>
    </section>
    <section>
        <h2>Garantía de Calidad</h2>
        <p>En Safia Store, nos comprometemos a ofrecerte productos de la más alta calidad. Cada artículo en nuestra tienda ha sido cuidadosamente seleccionado y probado para garantizar su durabilidad y rendimiento. Además, ofrecemos una garantía de calidad en todos nuestros productos para que puedas comprar con total confianza.</p>
    </section>
    <section>
        <h2>Ofertas Especiales</h2>
        <p>No te pierdas nuestras ofertas especiales y promociones exclusivas en Safia Store. Desde descuentos por tiempo limitado hasta ventas flash, siempre estamos buscando formas de brindarte increíbles ahorros en tus productos favoritos. Mantente atento a nuestras ofertas y haz tus compras con precios aún más bajos.</p>
    </section>
    <section>
        <h2>Seguridad en los Pagos</h2>
        <p>En Safia Store, la seguridad de tus datos es nuestra máxima prioridad. Utilizamos las últimas tecnologías de encriptación para proteger tus transacciones y garantizar que tu información personal esté segura en todo momento. Puedes realizar tus compras con total tranquilidad, sabiendo que tus datos están protegidos.</p>
    </section>
    
    
    
  </div>
  
  <!--Este es el elemento div para el contenido de Store-->
   <div id="contenido4" style="display:none">
   
 <section>
    <h2>Nuestra Tienda</h2>
    <p>Bienvenido a nuestra tienda en línea, donde encontrarás una amplia selección de productos cuidadosamente seleccionados para satisfacer tus necesidades. Desde moda hasta tecnología, hogar y estilo de vida, ofrecemos una variedad de artículos de alta calidad a precios asequibles.</p>
    <p>Explora nuestra colección y descubre las últimas tendencias, productos innovadores y ofertas exclusivas. Con un proceso de compra seguro y envío rápido, estamos aquí para hacer que tu experiencia de compra sea cómoda y satisfactoria. ¡Haz tu pedido hoy mismo y únete a nuestra comunidad de clientes satisfechos!</p>
</section>
    
  </div>
  
  <!--Este es el elemento div para el contenido de contactos-->
   <div id="contenido5" style="display:none">
    
    
    <h2>Envíanos un mensaje</h2>
    <form action="/comentarios" method="post">
    <label for="nombre">Nombre:</label><br>
    <input type="text" id="nombre" name="nombre" required><br>

    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email" required><br>

    <label for="mensaje">Mensaje:</label><br>
    <textarea id="mensaje" name="mensaje" rows="4" required></textarea><br>

    <button type="submit">Enviar</button>
</form>
    
  </div>
  
</div>
</div>
</nav>









<footer class="container-fluid text-center">
  <br>
  <p>Safia Store Copyright</p>  
  </br>
  <br>
  <p>Autor:Luis alfredo Esono Nchama</p>  
  </br>
  <p>Estudiante de Ingenieria telematica</p> 
  <br>
  <p>Universidad de Jaen</p>
   </br>
</footer>

<script>
// Función para cambiar el contenido al hacer clic en un elemento de la lista
function cambiarLi(numero) {
  var contenidos = document.querySelectorAll('#contenido > div');
  for(var i = 0; i < contenidos.length; i++) {
    if(contenidos[i].id === 'contenido' + numero) {
      contenidos[i].style.display = 'block';
    } else {
      contenidos[i].style.display = 'none';
    }
  }
}
</script>

</body>
</html>



